h1 {
    text-align: center;
    border: 1px solid black;
    margin: 0rem 35rem 35rem 35rem;

}

button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: 3.2rem;
}

input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: 3.2rem;
}